.app_contenedor_main_0{
    background-color: bisque;
    width: 100%;
    min-width: 50px;
}
.app_contenedor_main_1{
    background-color: rgb(70, 123, 166);
    display: grid;
    flex-direction: column;
    width: 100%;
    min-width: max-content;
}

.app_contenedor_login_register{
    background-color: rgb(224, 239, 255);
}