.stories_1{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 100%;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
img {
    width: 100%;
}
.navbar_contenedor_0{
    margin: 0 auto;
}
.navbar_contenedor_1{
    background-color: rgb(255, 255, 255);
    width: fit-content;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}
.navbar_contenedor_1 ul{
    padding: 0;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
}
.navbar_contenedor_1 li{
    background-color: rgb(255, 255, 255);
    width: fit-content;
    padding: 10px;
    margin: auto;
    height: fit-content;
    display: flex;
    place-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    border-radius: 5px;
}
.navbar_contenedor_1 button{
    display: flex;
    margin: auto;
    place-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
}

.cstory_contenedor_0{
    display: flex;
    margin: auto;
}


.cstory_contenedor_1{
    background-color: rgb(255, 255, 255);
    margin: auto; 
    width: 100%;
    min-width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}
.cstory_contenedor_1 h2{
    text-align: center;
}

.cstory_contenedor_2{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 3fr 5fr; /* el primer elemento ocupará 1 parte, y el segundo ocupará 2 partes del grid */
    gap: 10px; /* espacio entre las columnas */
    width: 100%;
    min-width: 465px;
    max-width: 465px;
    padding: 0;
    margin-bottom: 20px;
    
}
.cstory_contenedor_2 input{
    touch-action: manipulation;
    -ms-touch-action: manipulation;
}
.cstory_contenedor_2 textarea{
    resize: vertical;
    font-size: 16px;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    height: auto;
}
.feed_contenedor_0{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.perfil_contenedor_0{
    background-color: rgb(255, 255, 255);
    width: 485px;
    min-width: 485px;
    max-width: 485px;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}
.perfil_contenedor_1{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;

    width: 100%;
    min-width: 80%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.story_contenedor_1{
    background-color: rgb(53, 203, 244);   padding: 30px;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}
.search_contenedor_0{
    margin: auto;
    margin-top: 10px;
    width: fit-content;
}
.search_contenedor_1{
    display: flex;
    place-content: center;
    align-items: center;
    padding: 0;
    margin: auto;
    width: 100%;
    
}
.search_contenedor_1 input{
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
}