.perfil_contenedor{
    background-color: aqua;
}

.feed_contenedor_1{
    background-color: blueviolet;
}

.cstory_contenedor_1{
    background-color: chartreuse;
}

.story_contenedor_1{
    background-color: rgb(0, 165, 63);
}

.navbar_contenedor_1{
    background-color: cornflowerblue;
}

.search_contenedor_1{
    background-color: brown;
}